/* Overall page style */
body {
	background-color: #c0eef831; /* Light blue */
	/* background-color: #ffd82919; Yellow */
	font-family: 'Kanit', sans-serif;
	font-weight: 400;
	font-style: normal;
}
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #006b7b;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ffd929;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #006b7b;
}
/* HomePage container */
.home-page {
	position: relative;
	margin-top: 50px;
	padding: 20px;
	z-index: 1; /* Ensure it is above the background lines */
}

/* Heading styles */
.heading-text {
	font-weight: 900;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2.5rem;
	text-align: center;
	padding: 2rem 0;
}

/* Highlight styles */
.name-highlight {
	color: #4584a3;
}

/* Profile picture styles */
@keyframes float {
	0% {
		transform: translateY(0px) rotate(2deg);
	  }
	  
	  50% {
		transform: translateY(0px) rotate(-2deg); 
	  }
	  
	  100% {
		transform: translateY(0px) rotate(2deg);
	  }
	}
  
  .profile-picture {
	background: url('./assets/girlLap.jpg') no-repeat center center;
	background-size: cover;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 0 auto;
	border: 2px solid black;
	border-bottom: 10px solid black;
	border-right: 8px solid black;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
	animation: float 3s ease-in-out infinite; 
  }
  @keyframes floatc {
	0% {
	  transform: translateY(0px);
	}
	
	50% {
	  transform: translateY(-10px); 
	}
	
	100% {
	  transform: translateY(0px);
	}
  }
.contact-picture {
	background: url('./assets/sahithipic.jpg') no-repeat center center;
	background-size: cover;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 0 auto;
	border: 2px solid black;
	border-bottom: 10px solid black;
	border-right: 8px solid black;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
	animation: floatc 5s ease-in-out infinite;
}

/* Social icons */

/* Custom Navbar styles */
.custom-navbar {
	margin-top: 25px;
	border: 4px solid black;
	border-top: 2px solid black;
	border-radius: 50px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	background-color: #fff;
}

.custom-navbar .navbar-nav {
	display: flex;
	justify-content: center;
}

.custom-navbar .nav-link {
	margin: 2px 30px;
}

.custom-navbar .navbar-toggler {
	border: none;
	outline: pink;
}

.hamburger-icon {
	margin: 2px;
}

/* Danfo head */
.danfo-head {
	font-family: 'Danfo', serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: 'ELSH' 0;
	color: #ffd929;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
}

/* Heading text */
.heading-text div {
	color: white;
	background-color: #006b7b;
	margin: auto;
	width: fit-content;
	margin-top: 1.2rem;
}

/* Background elements for large screens */
@keyframes forwardBackward {
	0% {
	  transform: translate(7px,-7px) rotate(-40deg);
	}
	50% {
	  transform: translate(-7px,7px) rotate(-40deg); /* Moves 20px forward */
	}
	100% {
	  transform: translate(7px,-7px) rotate(-40deg); /* Returns to original position */
	}
  }
  @keyframes backwardForward {
	0% {
	  transform: translate(-7px,7px) rotate(-40deg);
	}
	50% {
	  transform: translate(7px,-7px) rotate(-40deg); /* Moves 20px forward */
	}
	100% {
	  transform: translate(-7px,7px) rotate(-40deg); /* Returns to original position */
	}
  }
  
  /* For larger screens */
  @media (min-width: 1024px) {
	.home-page::before,
	.home-page::after {
	  content: '';
	  position: absolute;
	  z-index: -1; /* Behind the content */
	  border-radius: 40px;
	}
  
	.home-page::before {
	  width: 350px;
	  height: 80px;
	  background-color: #ffd929;
	  opacity: 0.8;
	  top: 40%;
	  right: 15%;
	  transform: rotate(-40deg);
	  animation: forwardBackward 5s ease-in-out infinite; /* Smooth combined motion */
	}
  
	.home-page::after {
	  width: 350px;
	  height: 80px;
	  background-color: #006b7b;
	  opacity: 0.6;
	  right: 6%;
	  top: 43%;
	  transform: rotate(-40deg);
	  animation: backwardForward 5s ease-in-out infinite;
	}
  
	.black-line {
	  transform: rotate(-2deg);
	}
  }
  
  /* For smaller screens */
  @keyframes forwardBackward2 {
	0% {
	  transform: translate(7px,-7px) rotate(-30deg);
	}
	50% {
	  transform: translate(-7px,7px) rotate(-30deg); /* Moves 20px forward */
	}
	100% {
	  transform: translate(7px,-7px) rotate(-30deg); /* Returns to original position */
	}
}
@keyframes backwardForward2 {
	0% {
	  transform: translate(-7px,7px) rotate(-30deg);
	}
	50% {
	  transform: translate(7px,-7px) rotate(-30deg); /* Moves 20px forward */
	}
	100% {
	  transform: translate(-7px,7px) rotate(-30deg); /* Returns to original position */
	}
}

  @media (max-width: 750px) {
	.home-page::before,
	.home-page::after {
	  content: '';
	  position: absolute;
	  z-index: -1; /* Behind the content */
	  border-radius: 40px;
	}
  
	.home-page::before {
	  width: 95%;
	  height: 60px;
	  background-color: #ffd929;
	  opacity: 0.8;
	  top: 80%;
	  left: 5%;
	  transform: rotate(-30deg);
	  animation: forwardBackward2 5s ease-in-out infinite; /* Smooth combined motion */

	}
  
	.home-page::after {
	  width: 90%;
	  height: 60px;
	  background-color: #006b7b;
	  opacity: 0.5;
	  left: 5%;
	  top: 70%;
	  transform: rotate(-30deg);
	  animation: backwardForward2 5s ease-in-out infinite;
	}
  }
  
.social-icons a {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 1.1rem;
}
.black-line {
	background-color: #000;
	margin-top: 5%;
	padding: 15px 4px;
}
.pro-card {
	border: 3px solid black;
	border-bottom: 4px solid black;
}
@keyframes zoomBack{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.07) rotate(1deg) ;

	}
	100%{
		transform: scale(1);
	}

}

@media (min-width: 1024px) {
	.intern-page,
	.project-page,
	.contact-page,
	.cert-page {
		position: relative;
	}

	.intern-page::before,
	.project-page::before,
	.contact-page::before,
	.cert-page::before {
		content: '';
		position: absolute;
		top: 0;

		width: 70%;
		height: 100%;
		z-index: -1; /* Place the background behind the content */
		background-image: radial-gradient(circle, #f3fdff 2px, transparent 2px),
			radial-gradient(circle, #f5fafb 4px, transparent 1px);
		background-size: 20px 20px;
		border-radius: 50%;
		animation: zoomBack 7s ease-in-out infinite;
	}
	.intern-page::before,
	.cert-page::before {
		right: 0;
	}

	.intern-page::before,
	.cert-page::before {
		background-color: #006b7b;
		opacity: 0.07;
	}

	.project-page::before,
	.contact-page::before {
		background-color: #ffd929;
		opacity: 0.1;
	}
}

@media (max-width: 750px) {
	.intern-page,
	.project-page,
	.contact-page,
	.cert-page {
		position: relative;
	}

	.intern-page::before,
	.project-page::before,
	.contact-page::before,
	.cert-page::before {
		content: '';
		position: absolute;
		top: 0;

		width: 60%;
		height: 25%;
		z-index: -1;
		background-image: radial-gradient(circle, #f3fdff 2px, transparent 2px),
			radial-gradient(circle, #f5fafb 4px, transparent 1px);
		background-size: 20px 20px;
		border-radius: 50%;
		
	}
	.intern-page::before,
	.cert-page::before {
		right: 0;
	}

	.intern-page::before,
	.cert-page::before {
		background-color: #006b7b;
		opacity: 0.07;
	}

	.project-page::before,
	.contact-page::before {
		background-color: #ffd929;
		opacity: 0.1;
	}
}
